:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Consolas", sans-serif;
}

.options {
  padding: 15px;
  display: flex;
  background-color: var(--main-darklg);
}

.options_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.5rem;
  width: 50px;
  margin: 0 0.5rem;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: #171e2a;
}

.username {
  color: #2f80ec;
}

.message {
  padding: 0.3em 1em;
  color: white;
}

#input_container {
  padding-left: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#chat_message {
  height: 50px;
  width: 90%;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.header_back {
  display: block;
  position: absolute;
  font-size: 25px;
  top: 17px;
  left: 28px;
  color: #fff;
}
